@font-face {
  font-family: 'literata-extralight';
  src: url('/fonts/Literata-ExtraLight.ttf'),
    url('/fonts/Literata-ExtraLight.woff2'),
    url('fonts/Literata-ExtraLight.woff');
}

@font-face {
  font-family: 'literata-bold';
  src: url('/fonts/Literata-bold.ttf'),
    url('/fonts/Literata-bold.woff2'),
    url('fonts/Literata-bold.woff');
}

* {
  padding: 0;
  margin: 0;
  color: #fff;
}

body {
  font-family: 'literata-extralight';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Домашняя страница фуллскрин */
.home-page {
  overflow-x: hidden;
}

.home-fullscreen {
  min-height: 100vh;
  background-image: url('/img/home.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.home-wrapper {
  max-width: 1644px;
  margin: 0 auto;
  padding: 0 15px;
}

.home__contacts-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.home__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.home__contacts-city {
  margin-right: 5px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  font-family: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

.home__contacts-city2 {
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.5);
  font-family: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

.home__city-btn__active {
  color: #FFEEE2;
}

.home__contacts-phone {
  width: 125px;
  margin-right: 15px;
  text-decoration: none;
  color: #FFEEE2;
  font-size: 16px;
  line-height: 24px;
}

.home__contacts {
  margin-right: 15px;
}

.home__contacts-vk {
  margin-right: 5px;
}

.home__contacts-tg {
  margin-right: 5px;
}

.home__contacts-viber {
  margin-right: 5px;
}

.home__contacts-watsapp {
  margin-right: 5px;
}

.home__contacts-skype {
  margin-right: 5px;
}

.home__contacts-call {
  border: 1px solid #F2D955;
  padding: 5px 10px 7px 10px;
  background-color: transparent;
  border-radius: 5px;
  color: #F2D955;
  font-family: inherit;
  cursor: pointer;
}

.home-logo__img {
  margin-bottom: 30px;
}

.home-info {
  position: relative;
}

.home-info__description {
  padding-top: 15px;
  font-size: 24px;
  max-width: 640px;
  color: #FFEEE2;
  text-shadow: 1px 1px 0px #000000;
  margin-bottom: 45px;
}

.home-info__status-ask {
  font-family: 'literata-bold';
  font-size: 20px;
  line-height: 30px;
  color: #FFEEE2;
  text-shadow: 1px 1px 0px #000000;
  margin-bottom: 20px;
}

.home-info__rented-wrap {
  position: relative;
  max-width: 520px;
  background: rgba(255, 255, 255, 0);
  margin-left: -20px;
  padding-bottom: 15px;
  padding-top: 5px;
  border-radius: 5px;
  transition: 0.7s;
  cursor: pointer;
}

.home-info__rented-wrap:hover {
  background: rgba(255, 255, 255, 0.10);
}

.home-info__rented-link,
.home-info__build-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.home-info__rented-title {
  position: relative;
  font-family: 'literata-bold';
  font-size: 20px;
  line-height: 30px;
  color: #FFEEE2;
  text-shadow: 1px 1px 0px #000000;
  margin-bottom: 20px;
  margin-left: 20px;
}

.home-info__rented-title::after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: 80px;
  width: 40px;
  height: 10px;
  background: url('/img/arrow-right.svg');
}

.home-info__status-wrap {
  max-width: 480px;
  padding: 5px 10px;
  margin-left: 20px;
  background: rgba(255, 238, 226, 0.01);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 5px;
  position: relative;
}

.home-info__status-text {
  font-size: 18px;
  line-height: 30px;
  color: #FFEEE2;
}

.home-info__status-text::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #fff;
  border-image: linear-gradient(90.7deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 48.75%, rgba(255, 255, 255, 0.2) 100%);
  border-image-slice: 1;
}

.home-info__build-wrap {
  position: relative;
  max-width: 520px;
  background: rgba(255, 255, 255, 0);
  margin-left: -20px;
  padding-bottom: 15px;
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 5px;
  transition: 0.7s;
  cursor: pointer;
}

.home-info__build-wrap:hover {
  background: rgba(255, 255, 255, 0.10);
}

.home-info__build-title {
  position: relative;
  font-family: 'literata-bold';
  font-size: 20px;
  line-height: 30px;
  color: #FFEEE2;
  text-shadow: 1px 1px 0px #000000;
  margin-bottom: 20px;
  margin-left: 20px;
}

.home-info__build-title::after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: 115px;
  width: 40px;
  height: 10px;
  background: url('/img/arrow-right.svg');
}

.home-info__call {
  font-family: 'literata-bold';
  font-size: 16px;
  color: #000000;
  background-color: #FFD600;
  border: 2px solid #F2D955;
  padding: 5px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.home-info__call-text {
  font-family: 'literata-bold';
  font-size: 16px;
  color: #FFD600;
}

.home-info__call-free {
  font-family: 'literata-bold';
  font-size: 16px;
  color: #FFD600;
  border-bottom: 1px solid #FFD600;
}

.home-info__address {
  display: flex;
  justify-content: flex-end;
}

.home-info__address-text {
  text-align: end;
  max-width: 223px;
}

/* Модальное окно консультации */
.consultation-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  transition: 1s;
  opacity: 0;
  pointer-events: none;
}

.consultation-popup-bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 1s;
}

.consultation-popup {
  max-width: 890px;
  background: linear-gradient(104deg, rgba(97, 56, 56, 0.2) 0%, rgba(33, 30, 30, 0.2) 35.21%, rgba(97, 56, 56, 0.2) 100%),
    #E2E2E2;
  border: 10px solid rgba(97, 56, 56, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 20px;
  transition: 1s;
  position: relative;
}

.consultation-popup.active {
  transform: translate(-50%, -50%) scale(1);
}

.consultation__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.consultation__title {
  font-size: 24px;
  color: #111111;
  font-family: 'literata-bold';
  font-weight: bolder;
}

.consultation-close-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url('../img/popup-close.svg');
  border: none;
  transition: 0.5s;
  padding: 0 10px;
  margin-right: 10px;
}

.consultation-close-btn:hover,
.consultation-close-btn:focus {
  background-color: #fff;
  border-radius: 50%;
}

.consultation__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.consultation__column:not(:last-child) {
  margin-right: 50px;
  margin-bottom: 20px;
}

.consultation__feedback {
  color: #111111;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding-left: 30px;
}

.consultation__feedback::before {
  content: '';
  position: absolute;
  background: url('../img/feedback.svg');
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
}

.consultation__feedback-text {
  color: #111111;
  font-weight: bold;
  max-width: 261px;
  margin-bottom: 10px;
}

.consultation__feedback-text-link {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  color: #613838;
  border-bottom: 1px solid #613838;
}

.consultation__office {
  color: #111111;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding-left: 30px;
}

.consultation__office::before {
  content: '';
  position: absolute;
  background: url('../img/office.svg');
  width: 30px;
  height: 30px;
  top: 0;
  left: -3px;
}

.consultation__office-text {
  color: #111111;
  font-weight: bold;
  max-width: 261px;
  margin-bottom: 10px;
}

.consultation__office-text-link {
  color: #613838;
  border-bottom: 1px solid #613838;
}

.consultation__number {
  color: #111111;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding-left: 30px;
}

.consultation__number::before {
  content: '';
  position: absolute;
  background: url('../img/numberphone.svg');
  width: 30px;
  height: 30px;
  top: 0;
  left: -3px;
}

.consultation__number-spb-wrap,
.consultation__number-msk-wrap {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin-bottom: 10px;
}

.consultation__number-spb-title,
.consultation__number-msk-title {
  color: #111111;
  font-weight: bold;
  max-width: 261px;
  margin-right: 10px;
}

.consultation__number-spb,
.consultation__number-msk {
  font-weight: bolder;
  color: #111;
  border-bottom: 1px solid #613838;
}

.consultation__messengers {
  min-width: 240px;
  color: #111111;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding-left: 30px;
}

.consultation__messengers::before {
  content: '';
  position: absolute;
  background: url('../img/messengers.svg');
  width: 30px;
  height: 30px;
  top: 0;
  left: -3px;
}

.consultation__messengers-text {
  max-width: 227px;
  color: #111111;
  font-weight: bold;
  margin-bottom: 10px;
}

.consultation__messengers-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.consultation__messengers-vk,
.consultation__messengers-tg,
.consultation__messengers-wa,
.consultation__messengers-vb,
.consultation__messengers-sk {
  color: #613838;
  font-weight: bold;
  border-bottom: 1px solid #613838;
  margin-left: 30px;
  position: relative;
}

.consultation__messengers-vk::before {
  content: '';
  position: absolute;
  background: url('../img/popup-vk.svg');
  width: 20px;
  height: 20px;
  top: 3px;
  left: -30px;
}

.consultation__messengers-tg::before {
  content: '';
  position: absolute;
  background: url('../img/popup-tg.svg');
  width: 20px;
  height: 20px;
  top: 3px;
  left: -30px;
}

.consultation__messengers-wa::before {
  content: '';
  position: absolute;
  background: url('../img/popup-wa.svg');
  width: 20px;
  height: 20px;
  top: 3px;
  left: -30px;
}

.consultation__messengers-vb::before {
  content: '';
  position: absolute;
  background: url('../img/popup-vb.svg');
  width: 20px;
  height: 20px;
  top: 3px;
  left: -30px;
}

.consultation__messengers-sk::before {
  content: '';
  position: absolute;
  background: url('../img/popup-sk.svg');
  width: 20px;
  height: 20px;
  top: 3px;
  left: -30px;
}

.consultation__feedback-call {
  color: #111111;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding-left: 30px;
}

.consultation__feedback-call::before {
  content: '';
  position: absolute;
  background: url('../img/feedbackcall.svg');
  width: 30px;
  height: 30px;
  top: 0;
  left: -3px;
}

.consultation__feedback-call-text {
  max-width: 215px;
  color: #111111;
  font-weight: bold;
  margin-bottom: 10px;
}

.consultation__feedback-call-btn {
  border: none;
  background: transparent;
  font-size: 16px;
  color: #613838;
  cursor: pointer;
  border-bottom: 1px solid #613838;
}

.consultation__email {
  color: #111111;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding-left: 30px;
}

.consultation__email::before {
  content: '';
  position: absolute;
  background: url('../img/consulemail.svg');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 5px;
  left: -3px;
}

.consultation__email-text {
  max-width: 215px;
  color: #111111;
  font-weight: bold;
  margin-bottom: 10px;
}

.consultation__email-link {
  color: #613838;
  border-bottom: 1px solid #613838;
}

/* Медиа для модального окна консультации */
@media (max-width: 670px) {
  .consultation__title {
    font-size: 20px;
  }

  .consultation__number-msk-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-info__call-text {
    margin-bottom: 30px;
  }
}

/* 
  =============================================
  BACK CALL MODAL
  =============================================
*/

.back-call-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  transition: 1s;
  opacity: 0;
  pointer-events: none;
}

.back-call-modal-bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 1s;
}

.back-call-modal {
  max-width: 350px;
  background: linear-gradient(104deg, rgba(97, 56, 56, 0.2) 0%, rgba(33, 30, 30, 0.2) 35.21%, rgba(97, 56, 56, 0.2) 100%),
    #E2E2E2;
  border: 10px solid rgba(97, 56, 56, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 20px;
  transition: 1s;
  position: relative;
}

.back-call-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.back-call-modal__header-wrap {
  display: flex;
  justify-content: space-between;
}

.back-call-modal__title {
  color: rgba(17, 17, 17, 1);
  font-size: 24px;
  font-weight: bolder;
}

.back-call-modal__btn-close {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url('../img/popup-close.svg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
}

.back-call-modal__btn-close:hover,
.back-call-modal__btn-close:active {
  background-color: #fff;
}

.back-call-modal__form {
  display: flex;
  flex-direction: column;
}

.back-call-modal__form-name-wrap,
.back-call-modal__form-phone-wrap,
.back-call-modal__form-time-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.back-call-modal__form-name,
.back-call-modal__form-phone,
.back-call-modal__form-time {
  color: rgba(17, 17, 17, 1);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.back-call-modal__form-name-input,
.back-call-modal__form-phone-input,
.back-call-modal__form-time-input {
  padding: 3px 3px;
  color: rgba(85, 85, 85, 1);
  font-size: 18px;
  font-family: inherit;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.back-call-modal__form-agreement-wrap {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}

.back-call-modal__form-agreement {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.back-call-modal__agreement-text {
  max-width: 250px;
  color: rgba(85, 85, 85, 1);
  text-align: start;
}

.back-call-modal__agreement-link {
  color: rgba(97, 56, 56, 1);
  border-bottom: 1px solid rgba(97, 56, 56, 1);
}

.back-call-modal__form-submit {
  padding: 10px 0;
  background-color: rgba(97, 56, 56, 0.7);
  font-size: 20px;
  color: rgba(255, 238, 226, 1);
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.5s;
}

.back-call-modal__form-submit:hover,
.back-call-modal__form-submit:active {
  background-color: rgba(97, 56, 56, 1);
}




/*  ===========================================
    RENTED PAGE
    ===========================================
*/

.rented-page {
  overflow-x: hidden;
}

.rented-screen {
  min-height: 100vh;
  background-image: url('../img/rented.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.rented__outside-wrap {
  max-width: 1820px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.rented__prev-btn {
  color: rgba(255, 255, 255, 0.75);
  font-family: inherit;
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid rgba(242, 217, 85, 0.1);
  position: relative;
  margin-left: 100px;
}

.rented__prev-btn::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 21px;
  top: 50%;
  left: -36%;
  transform: translate(-50%, -50%);
  background-image: url('../img/rented-prev.svg');
}

.rented__prev-btn:hover.rented__prev-btn::before {
  background-image: url('../img/rented-prev-active.svg');
}

.rented__inside-wrap {
  max-width: 1600px;
  margin: 0 auto;
}

.rented-screen__title {
  font-size: 36px;
  max-width: 610px;
  color: rgba(255, 238, 226, 1);
  text-shadow: 2px 2px rgba(0, 0, 0, 1);
  margin-bottom: 100px;
}

.rented-screen__text {
  font-size: 24px;
  color: #FFEEE2;
  text-shadow: 2px 2px rgba(0, 0, 0, 1);
  margin-bottom: 50px;
}

.rented-screen__result-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.rented-screen__result-item1 {
  max-width: 272px;
}

.rented-screen__result-item2 {
  max-width: 285px;
}

.rented-screen__result-item3 {
  max-width: 134px;
}

.rented-screen__result-item4 {
  max-width: 138px;
}

.rented-screen__result-item5 {
  max-width: 220px;
}

.rented-screen__result-item6 {
  max-width: 280px;
}

.rented-screen__result-title {
  font-size: 36px;
  color: rgba(255, 238, 226, 0.45);
  margin-bottom: 10px;
}

.rented-order {
  background: rgba(97, 56, 56, 1);
  height: 600px;
  position: relative;
}

.rented-order::before {
  content: '';
  position: absolute;
  top: -80px;
  border-left: 0px solid transparent;
  border-right: 100vw solid transparent;
  border-bottom: 80px solid rgba(97, 56, 56, 1);
}

.rented-order__title {
  color: rgba(255, 238, 226, 1);
  font-size: 36px;
  line-height: 88%;
  margin-bottom: 100px;
}

.rented-order__top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.rented-order__bottom {
  display: flex;
  flex-wrap: wrap;
}

.rented-order__item {
  width: 533px;
  height: 100px;
  background-color: #F2D955;
}

.rented-order__item:nth-child(1),
.rented-order__item:nth-child(2) {
  border-right: 1px solid black;
}



/* Адаптив шапки */
@media (max-width: 600px) {
  .home__contacts-wrapper {
    justify-content: center;
  }

  .home__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 380px) {
  .home__contacts-wrapper {
    flex-direction: column;
  }

  .home__contacts {
    margin-right: 0;
    margin-bottom: 10px;
  }
}